[2015-08-28 15:10] sean-roberts opened #1 "request body"
currently, req.body() always returns undefined. I think it's a simple adding of

this.body(xhr.data);

in the MockRequest constructor.

[2015-08-28 15:11] sean-roberts opened #2 "README has incorrect examples"
Some of your examples actually have syntax errors, so it might be worth cleaning that up.

[2015-08-28 15:16] sean-roberts commented on #1
Was going to work on a PR but I am not entirely following how your testing is set up

[2015-08-29 09:34] jameslnewell commented on #1
Thanks for taking the time to report and submit a PR!

I've merged your PR, added mochify to the `devDep`s and added a  `scripts.test` key to the `package.json`.

[2015-08-29 10:06] jameslnewell commented on #2
Fixed a missing `}` in the `README.md`. Did I miss anything else?

[2015-08-29 10:06] #1 closed

[2015-08-29 10:06] #2 closed

[2015-08-29 10:08] jameslnewell commented on #1
Published in `1.3.2`.

[2015-08-29 16:28] sean-roberts commented on #2
I think that was it. I ran into that one so I wanted to bring it up

[2015-08-29 16:28] sean-roberts commented on #1
Yep np!

[2015-10-06 01:38] thebearingedge opened #4 "Nice Job!"
Thank you, this module is super useful!

[2015-10-06 01:55] #4 closed

[2015-10-06 05:45] jameslnewell commented on #4
Thanks!!!

Let me know (or submit a PR) if the docs can be improved or you need the missing functions implemented.

[2015-10-06 06:28] thebearingedge commented on #4
For now it's working well as is. Along with `xhr`, `mocha`, and `jsdom`, testing models/repositories has never been so simple... or fast (ms). :+1: Cheers!

[2015-10-07 21:58] jameslnewell opened #5 ".send() is called an extra two times in a mocha test when no response is returned by a handler"

[2015-11-05 08:55] prabhg opened #6 "'self' is undefined in MockXMLHttpRequest.prototype.open"
In MockXMLHttpRequest.prototype.open function, on following line, 'self' needs to be replaced with 'this'.

  self.readyState = MockXMLHttpRequest.STATE_OPENED;

[2015-11-05 09:31] jameslnewell commented on #6
Thanks for reporting!

[2015-11-05 09:31] #6 closed

[2015-11-05 09:42] jameslnewell commented on #6
Published in `1.4.1`.

[2016-06-09 13:44] jcubic opened #11 "Send real request when url not registered"
It would be nice if XHRMock run normal request when someone open url that's not mocked.

[2016-06-12 22:09] jameslnewell commented on #11
Sounds like an interesting feature. Feel free to submit a PR.

[2016-07-14 17:47] chrisabrams opened #13 "This feature hasn't been implmented yet. Please submit an Issue or Pull Request on Github."
This error is very vague; I have no idea **what** feature is not implemented. :O

For reference, here is what I tried doing:

[code]

[2016-07-14 17:58] chrisabrams commented on #13
It would appear that `addEventListener` is not supported: https://github.com/jameslnewell/xhr-mock/blob/26a385c580c109bfbcb2acabf830f44b6a83b5cd/lib/MockXMLHttpRequest.js#L215

[2016-07-17 15:03] jameslnewell commented on #13
Thanks for reporting!

I haven't used (a library that uses) `addEventListener` yet and haven't found the time/need to implement it yet. Would you be able to submit a PR that improves the error messaging, or that implements the feature according to spec?

[2016-08-29 19:43] donaldpipowitch opened #14 ""Request has been terminated" error with superagent"
The errors is explained with `Possible causes: the network is offline, Origin is not allowed by Access-Control-Allow-Origin, the page is being unloaded, etc.`.

I tried `.header('Access-Control-Allow-Origin', '*')`, but the error remains. Any idea what I could do next?

[2016-08-30 07:46] #14 closed

[2016-08-30 07:47] donaldpipowitch commented on #14
It looks like this was thrown because superagent called an URL which wasn't mocked.

[2017-01-04 06:04] jameslnewell commented on #13
This was recently implemented in a PR.

[2017-01-04 06:04] #13 closed

[2017-02-02 15:30] AlehVasilyeu commented on #11
I started work on this implementation. I hope I will complete it soon.

[2017-02-03 05:11] jameslnewell commented on #11
Cool!

Please keep in mind that people use this in the browser AND in nodejs.

Is there a way to make this feature optional because it might not be a feature that everyone would use. Maybe you could write a sharable `handler` that people can require and reuse. That way we don't force the extra dependencies on `axios|superagent|fetch|whatever` on the users who don't need this feature.

E.g.

[code]

[2017-02-03 08:30] AlehVasilyeu commented on #11
@jameslnewell Sound good, but I'm a little bit confused.

Currently I'm using decorator pattern, so real XMLHttpRequest creates together with mock. I agrre your approach much better, but I have no idea how to pass invocations of methods (like getResponseHeader, addEventListener) to handler. Do you have any suggestions?

[2017-02-03 09:59] jameslnewell commented on #11
`xhr-mock-proxy-handler` would look something like this (not handling error cases for brevity):

[code]

Note: for handlers to return promises like the above handler is dependent on requires #10 being completed.

[2017-02-03 14:55] AlehVasilyeu commented on #11
Thanks for direction, will think.

[2017-02-24 13:59] niekbosch opened #19 "Why use lie for Promises"
Using 'lie' as a Promise implementation gives me problems when using xhr-mock in an Angular 2 project. It does not work well with zone.js. Just removing the `var Promise = require('lie');` lines, make it work nicely.

In node.js, there is a (native) implementation for promises. And most modern browsers [seem to have one](http://caniuse.com/#search=Promise) as well. Is there any particular reason w

[2017-02-26 23:56] jameslnewell commented on #19
Hi @niekbosch. `lie` isn't used in the currently published version of `xhr-mock`. It has been added as part of https://github.com/jameslnewell/xhr-mock/pull/18. Can you please move your comment to the pull request. I tend to agree, I prefer to include polyfills at the project level rather than in the libraries.

[2017-02-26 23:56] #19 closed

[2017-02-28 17:00] niekbosch commented on #19
You are right, sorry. I didn't realize I ended up using @AlehVasilyeu's fork.

Copied the comment to the pull request. Thanks for your response anyway!

[2017-03-30 16:50] AnnaKalkanis opened #20 "RegEx not matching"
When using RegEx, my request is not matching mock.
- Request against 'https://localhost.fake/api/uploads/test/123456'.

- For mock, I've tried

[code]

and

[code]

It works fine when I use the actual url, but does not seem to match against various valid RegExs that I've tried. Am I formatting this incorrectly? Is it possible to use a wildcard?

[2017-03-30 17:11] AnnaKalkanis commented on #20
Looks like it's just a versioning issue. Any idea when the latest code with Regex matching will be available on npm? I see it in the source here, but it's not in the version I've installed from npm.

[2017-04-11 22:13] jameslnewell commented on #20
Sorry about that! I think I was waiting on https://github.com/jameslnewell/xhr-mock/pull/16 to be complete which adds similar functionality and some bug fixes. I've published `1.8.0` in the mean time.

Let me know if you have any more issues!

[2017-04-11 22:13] #20 closed

[2017-04-13 13:38] fmoraw opened #21 "How do I set response.statusText?"
It is not possible to set statusText like status e.g.
return res.status(201) --> works
return res.statusText("Unauthorized") --> not implemented?

Would you like to see it implemented?

[2017-04-14 21:40] jameslnewell commented on #21
Good point, I'll definitely accept a PR for it!

[2017-04-21 13:41] fmoraw commented on #21
Done.

[2017-04-21 13:41] #21 closed

[2017-05-12 08:55] ayxos opened #24 "Is not working with mocha"
I am doing a sync xhr call with mocha-sinon and i am not able to run it properly. Any idea?

[2017-05-18 00:06] snstanton opened #25 "add support for XMLHttpRequest.upload"
Similar to the patch for XMLHttpRequest.addEventListener, there should be an opaque XMLHttpRequest.upload object for tracking progress of uploads.

[2017-05-20 08:47] jameslnewell commented on #24
Sorry, sync xhr no longer works. See the discussion on here https://github.com/jameslnewell/xhr-mock/pull/23. Let me know if you have any further issues.

[2017-05-20 08:47] #24 closed

[2017-05-20 08:56] jameslnewell commented on #25
Thanks for the PR! https://github.com/jameslnewell/xhr-mock/pull/26

[2017-05-20 08:56] #25 closed

[2017-05-20 08:58] jameslnewell commented on #24
Note: I think I've changed from sync to async at some stage without making a major version bump. Apologies if that's the case!

[2017-05-20 09:00] jameslnewell opened #27 "To dos"
- mock `fetch()`
- add examples of using `progress()`

[2017-06-29 10:43] zz-james opened #28 "Just a note on HTTP method capitalisation (not really an issue...)"
I just made a silly error which took me all morning to find.

Browsers handle GET and POST case-insensitively but XHR-mock does not.
https://stackoverflow.com/questions/7790576/what-are-http-method-capitalization-best-practices

-- in line 90 of index.js for xhr-mock

  post: function(url, fn) {
    return this.mock('POST', url, fn);
  }
this string is compared to the method sent from the code bei

[2017-06-29 13:32] jameslnewell commented on #28
Thanks for the issue! I think this is already fixed in my `v2` branch. Once a get some more time I'll get it released.

[2017-06-29 13:32] #28 closed

[2017-07-24 16:17] nikwen opened #29 "Cannot test timeout scenarios"
Great library!

However, I did not find a way to test my timeout handlers. Basically, I want the fake server to hang and not answer anything so that my timeout handler steps in.

See https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest/timeout

[2017-07-25 01:05] jameslnewell commented on #29
[code]
^^^ doesn't work for you?

[2017-07-25 19:35] nikwen commented on #29
Thanks a lot for your reply! :)

I seriously don't know how I missed that function. Works perfectly. 🎉

[2017-07-25 19:35] #29 closed

[2017-08-30 11:19] jameslnewell commented on #11
Mock handlers can now return a `Promise` and the desired functionality can be implemented in `xhr-mock@next`.

[2017-08-30 11:19] #11 closed

[2017-08-30 16:52] dfedynich opened #30 "Global modifier (\g) in regex parameter brings the match to a fail"
Hello, team.

## **What's Up**

I want to match the set of URLs, which are different with query parameters only. To achieve this goal, I pass regex instead of string to _mock.get_ as the first parameter according to your specification
`.get(url | regex, fn)`
This approach misses the passed URL one time in a set of two requests if the regex value contains the global modifier (\g).

## **Example**

[2017-08-30 22:15] #30 closed

[2017-08-30 22:16] jameslnewell commented on #30
"team" 🤣  I wish.

Try `1.9.1`.

[2017-08-30 22:16] #5 closed

[2017-08-31 10:04] dfedynich opened #31 "Calling timeout function with any arguments throws an exception"
Hello, @jameslnewell .

## **What's Up**

I want to simulate a time gap to get the response. To achieve this goal I use
`.timeout(timeout : bool|number)` function according to your spec. However the call of this function with any arguments throws the exception **'timeout of 0ms exceeded'**

## **Example**

[code]

[2017-09-14 11:53] beckend opened #32 "support xhr.upload.addEventListener and removeEventListener"
does not seem to work yet

[2017-09-14 22:56] jameslnewell commented on #32
Which version are you using? Are you using `xhr-mock@next`? Can you please provide a snippet of a minimal example that you'd expect to work.

[2017-09-15 10:40] beckend commented on #32
[code]

using 2.x preview 7

[2017-09-15 10:41] beckend commented on #32
also on the note with this snippet which does not work in xhr-mock, but does in browsers.

[code]
if error occurs, this does fire(it should).

[2017-09-15 12:22] jameslnewell commented on #32
Sorry, can you please include a full example including the mock setup and full xhr details.

It *should* work according to these [tests](https://github.com/jameslnewell/xhr-mock/blob/master/src/MockXMLHttpRequest.test.ts#L207)

[2017-09-15 12:24] beckend commented on #32
the tests looks convincing, makes me wonder if i did something weird, will get back to this coming days.

[2017-09-21 15:49] michael42 opened #34 "Support XMLHttpRequest.DONE etc."
As per [spec](https://xhr.spec.whatwg.org/#interface-xmlhttprequest), the XMLHttpRequest constructor should define the constants UNSENT = 0, OPENED = 1, HEADERS_RECEIVED = 2, LOADING = 3 and DONE = 4. Otherwise, the following snippet doesn't work as intended when using xhr-mock:

[code]

[2017-09-21 22:16] jameslnewell commented on #34
Hi @michael42. Can you please try `xhr-mock@next` for me. It aligns much closer to the spec.

https://github.com/jameslnewell/xhr-mock/blob/master/src/MockXMLHttpRequest.ts#L37

[2017-09-21 22:16] #34 closed

[2017-09-21 22:17] jameslnewell commented on #32
Hi @beckend. Have you managed to figure out whats going wrong?

[2017-09-21 22:19] jameslnewell commented on #31
Hi @dfedynich. Can you please try `xhr-mock@next` where a timeout looks like `(req, res) => new Promise(() => {});`

[2017-09-22 10:01] beckend commented on #32
@jameslnewell sorry it took a while.
https://github.com/beckend/xhr-mock/blob/xhr_debug/test/debug.test.ts
You can clone the branch and test, the `fetchXHR` is used in production and is working intended in a webrowser.

The tests should pass but do not, it's the problem i have described in this thread.

[2017-11-07 23:01] sielay opened #35 "Regex support"
Hi

Seems that you support Regex in `createMockFunction` but not in `post` etc

[2017-11-08 10:43] #31 closed

[2017-11-08 10:43] jameslnewell commented on #31
any luck @dfedynich?

[2017-11-08 10:44] jameslnewell opened #37 "Release v2"
👋 Hey ppl using `xhr-mock`. Please let me know when you think v2 is stable enough to release on the masses!

[2017-11-10 06:54] maksugr opened #38 "Replace the global XMLHttpRequest only for one request"
Do we can replace the global XMLHttpRequest only for one request? Right now, if you make `.setup()` all others XMLHttpRequest, that doesn't have mocks, doesn't work.

[2017-11-12 12:50] jameslnewell commented on #38
No, the current implementation requires you to call `.teardown()` when you want to stop mocking requests. And I think this is the optimal behaviour (because who's to say it shouldn't be two requests or three requests?).

Instead, you should call `.teardown()`. e.g.

[code]

Alternatively, you could try proxying unmocked requests to the real XHR e.g (albeit untested) https://github.com/jameslnewell

[2017-11-12 12:51] #38 closed

[2017-12-01 07:43] jameslnewell commented on #32
Sorry I've taken so long to respond! I had some time on the train to investigate this today - thanks for your detailed repo!

`xhr-mock` wasn't emitting upload progress events because you were using an empty string for the body and it was evaluating to false. I've fixed the issue and released `xhr-mock@2.0.0-preview.10`. https://github.com/jameslnewell/xhr-mock/blob/master/src/MockXMLHttpRequest.t

[2017-12-01 08:04] beckend commented on #32
looks fine to me, xhr was never easy to mock to begin with

[2018-01-02 22:23] jameslnewell opened #41 "Handle different errors"
From [#32](https://github.com/jameslnewell/xhr-mock/issues/32#issuecomment-348424766):

Currently [only one type of error handling](https://xhr.spec.whatwg.org/#request-error-steps) is implemented (and it doesn't call `loadend`) and we don't have a way to tell `xhr-mock` which type of error handling to execute. We need to implement a way for developers to indicate which error handling we should us

[2018-01-02 22:23] #32 closed

[2018-01-03 01:01] jameslnewell opened #42 "Some readme examples may be broken"

[2018-01-08 02:49] jameslnewell commented on #11
`xhr-mock@2.0.0-preview.11` has a built-in proxy handler. See the [docs here](https://github.com/jameslnewell/xhr-mock#proxying-requests).

[2018-01-08 04:50] jameslnewell opened #43 "make proxy work in nodejs"

[2018-01-08 04:57] #42 closed

[2018-01-08 05:52] jameslnewell opened #44 "Support multiple headers with the same name"
e.g. cookie is frequently used

[2018-01-09 01:16] #43 closed

[2018-01-10 07:11] jameslnewell opened #45 "XMLHttpRequestEventTarget types are incorrect"
Blocked by Typescript (https://github.com/Microsoft/TypeScript/issues/19830).

[2018-01-10 07:25] jameslnewell opened #46 "Integration tests against third party packages"
running in the browser (and node if supported by the package)

[2018-01-10 07:26] jameslnewell commented on #41
Upon reading the spec I realised that all errors still result in `loadend` being dispatched and therefore there's very little to gain by having separate error handling.

I've updated the behaviour to follow the spec more closely and dispatch the `loadend` event.

https://github.com/jameslnewell/xhr-mock/commit/78d5094b2193f6afddf9a4ad899579bb3c4a3d52

`xhr-mock@2.0.0-preview.15`

[2018-01-10 07:26] #41 closed

[2018-01-10 16:14] #46 closed

[2018-01-10 16:14] #37 closed

[2018-01-25 01:04] jameslnewell opened #47 "improve documentation around how handlers work"
e.g. have to return a response - the response is passed just for convenience

[2018-01-29 00:59] rajsite opened #48 "proxy.browser does not support sync xhr"
I think the behavior I am seeing is that when proxy.browser is used to proxy synchronous requests I get an error because, the proxy seems to always returns a Promise:

https://github.com/jameslnewell/xhr-mock/blob/056283d9e184551fb4df88c9c44e34c7624a45fd/packages/xhr-mock/src/proxy.browser.ts#L21

Which fails on this check sendSync:

https://github.com/jameslnewell/xhr-mock/blob/f761cde79748561ea8

[2018-01-29 01:05] jameslnewell commented on #48
Thanks @rajsite. Yeah sorry, I don't use `async=false` so I haven't implemented it yet. Want to submit a PR for supporting both sync and async?

[2018-01-29 18:43] gilbarbara commented on #37
I missed this but a changelog would be really helpful.
I'm using the `release` package to generate my GitHub releases and it's a great starting point.

[2018-01-29 18:51] jameslnewell commented on #37
Hi @gilbarbara. Releases are a bit manual at the moment but you’ll find the change log here https://github.com/jameslnewell/xhr-mock/blob/master/packages/xhr-mock/CHANGELOG.md

[2018-01-29 23:45] gilbarbara commented on #37
Oh, sorry. I just looked at the root for the CHANGELOG. #lerna

[2018-01-30 01:30] jameslnewell commented on #37
No worries, I should make it more visible.

[2018-02-01 02:05] rajsite commented on #48
Hey @jameslnewell thanks for letting me know the state of the repo!

For the project I'm experimenting with I was leaning very heavily on the proxy feature. I needed synx xhr, timeouts, aborts, responseType arraybuffer, support for arraybuffer bodies, and probably some more to proxy correctly. I wasn't able to get to a point where I can test all of those behaviors in XHRMock but from the source it

[2018-02-01 04:49] jameslnewell opened #49 "Support url objects in matchers"
in order to support matching query strings

[2018-02-13 17:42] cicloon opened #50 "Latest version doesn't work for rxjs/Ajax with json responseType."
In version `2.0.3`, trying to mock xhr requests for an AjaxObservable result in an empty response even if the response is a string, it does work in `2.0.0-preview.13`.

For example:

[code]

However, it works in `2.0.0-preview.13` passing and object to xhr-mock:

[code]

[2018-02-14 11:44] jameslnewell commented on #50
Thanks for raising an issue and providing a test case!!!

 I'm not sure it worked exactly as you describe (I don't remember parsing the body string to JSON) but I was probably returning whatever `response.body` was set to - so that if you had set `response.body` to an object you could kind of simulate a json response type.

Its now parsing the response as JSON instead of throwing `notImplementedEr

[2018-02-14 11:44] #50 closed

[2018-02-20 02:44] jameslnewell commented on #47
add examples of using non text responses

[2018-02-20 02:53] jameslnewell opened #51 "errors are being swallowed and converted to error events"
making it really hard to debug when devs didn't actually intend to throw an error.

I think its happening in https://github.com/jameslnewell/xhr-mock/blob/master/packages/xhr-mock/src/MockXMLHttpRequest.ts#L523

Note: we probably don't want to log errors when they are intended (and fill up logs/false positives).

[code]

[2018-02-20 02:53] jameslnewell opened #52 "Support blob, arraybuffer, doc responses"

[2018-02-20 04:55] jameslnewell commented on #52
https://github.com/jameslnewell/xhr-mock/commit/a7c6250c8ad90f99c03dcb56e5a7a7a254665d4b

[2018-02-20 04:55] #52 closed

[2018-02-20 04:59] jameslnewell commented on #51
- mock.error(handler)
- mock.on('error', handler)
- mock.use((req, res, err) => {})
- mock.setLogMethod(console.log)
- ...
- always console log it?

[2018-02-23 20:26] marcell-calero opened #53 "send() only accepts string?"
Why does an error fire if we put a string in the send ()?
Is not it better to leave the body empty and follow?
Or maybe to put a flag that does not need to put a string

[2018-02-26 09:06] jameslnewell commented on #53
Hi Marcell, thanks for raising an issue. `xhr.send()` should accept a string, but one of your mocks may be throwing an error and that triggers `xhr.onerror`. At the moment debugging an error thrown in a handler is quite painful but I'm working on improving the experience in the next version of `xhr-mock`.

If you can provide a working snippet that showcases the error I can help you debug what's go

[2018-02-26 14:37] varp opened #54 "Why proxy promise is not exported by default in dist?"

[2018-02-26 14:44] varp commented on #54
I'm xhr-mock.js from unpkg.com

[2018-02-26 18:45] jameslnewell commented on #54
I’ve een waiting for someone to bring this up 😁

Because I don’t know how to create multiple exports in UMD. Please make a suggestion and we’ll implement it!

[2018-02-26 22:07] varp commented on #54
I'll see what can I do 😀Thx

[2018-03-16 04:25] jameslnewell opened #55 "upload blob support"

[2018-03-26 12:06] henri-hulski opened #57 "Throws 'A handler errored' to console after upgrading to 2.3.0"
After upgrading to version 2.3.0 I get some of the following errors when running my tests:
[code]
But the tests are still passing.
One example test which throws to console:
[code]
I do not really understand why it throws this error.

[2018-03-26 23:53] jameslnewell commented on #57
Hi @henri-hulski. Thanks for reaching out. The error isn't being thrown, its being logged. Prior to `v2.3` there was no way of logging errors that occurred in handlers or due to a lack of matching handlers for the requested URL. This made it very difficult to debug whether the error emitted by the error event was real, was due to xhr-mock or was due to a handler and this could mask problems within

[2018-03-26 23:53] #57 closed

[2018-03-27 08:17] henri-hulski commented on #57
@jameslnewell thanks for your answer.
I actually found out that the error mean that a url which was called was not covered by a mock.
Really great for debugging the tests.

Is there an option to print out the url which is not covered? Normally it's not a problem, but in the above case I was not able yet to find out, which url is called.

[2018-03-27 11:25] jameslnewell commented on #57
Yep sure. You have access to the request in the error callback.

`mock.error(({req, err}) => console.log(req.url(), err)`

I'll look at including the request details in the message by default.

[2018-03-27 12:02] henri-hulski commented on #57
@jameslnewell Hmm It's quite strange.
When adding
[code]
I get
[code]
Which is not expected as I actually have a handler for this case as you can see above.
When removing the handler I get 2 times the same message.

[2018-03-27 21:24] henri-hulski commented on #57
Ok I have solved it. My bad!
Had just to move `mock.get` before `CerebralTest()`.

[2018-03-27 22:07] jameslnewell commented on #57
🕺

[2018-03-27 22:11] #55 closed

[2018-03-27 22:14] #51 closed

[2018-03-28 04:52] jameslnewell opened #60 "upgrade typescript"

[2018-03-28 04:56] jameslnewell commented on #60
use workspaces

[2018-03-28 05:17] jameslnewell commented on #57
In `v2.3.1` I've updated the default error logging to look like this:
[code]
[code]
Feel free to suggest better messages/formatting. Ty.

[2018-03-28 05:31] jameslnewell commented on #54
Any ideas @varp?

[2018-03-28 05:32] jameslnewell commented on #53
Closing due to the lack of a response.

[2018-03-28 05:32] #53 closed

[2018-03-28 09:12] henri-hulski commented on #57
Cool! I think it would make sense to include some request info at least in the first case.
Really helps debugging.

[2018-03-28 13:56] henri-hulski commented on #57
XHR-mock v.2.3.1 fixed also another problem.
In another app I suddenly had a handful of failing tests after upgrading to 2.3.0.
Seems that xhr-mocks has overridden the [HttpProviderError](https://cerebraljs.com/docs/addons/http.html#@cerebral/http-errors-httpprovidererror) which is thrown by `@cerebral/http` but which is actually part of the workflow.
With 2.3.1 this is fixed.

[2018-03-28 21:56] jameslnewell commented on #57
I've never used `cerebral` but the other fix in `v2.3.1` was #58.

[2018-04-01 09:55] varp commented on #54
Nop. I have no time to work on it. As a workaround, I just started to use browserify

[2018-04-01 10:54] #54 closed

[2018-04-04 20:52] idolizesc opened #61 "Possible to add a delay?"
I'd like to add a delay to every response (I'm doing some manual testing in the browser and want to simulate how a real server may feel). Is this possible to do? I don't see anything documented.

Thanks!

[2018-04-04 22:06] idolizesc commented on #61
FYI I figured out a way, but it's a bit hacky. Would be nice to have proper support built in :)

[code]

[2018-04-05 06:02] jameslnewell commented on #61
You could use async/await to simplify your handler:
[code]

What's hacky about it? How would you support it built in?

[2018-04-05 06:56] idolizesc commented on #61
Oh, interesting. I didn't realize you could just set the data on the existing `res` -- in that case it's not very hacky.

Maybe just adding some documentation about how Promises are supported and how you could use them for something like this would be cool 👍

[2018-04-05 06:59] idolizesc commented on #61
Hmm, when I tried the above I get the following error:

[code]

[2018-04-05 07:12] jameslnewell commented on #61
Is `mockStatus` undefined? because all the methods on `req/res` have two signatures and `.status(undefined)` means you're returning the status, not the `res` which will be null and won't have a `status` property on it.

[2018-04-05 07:12] jameslnewell commented on #61
Care to open a PR for adding a delayed example to the how-to section?

[2018-04-05 07:25] idolizesc commented on #61
Sorry, I actually fixed the other issue (hence deleting my comment). It was because the `mockBody` was undefined, so it wasn't doing the setter routine, but rather the getter!

[2018-04-05 07:25] idolizesc commented on #61
Sure, I can make a PR for that.

[2018-04-05 07:26] #61 closed

[2018-04-20 17:52] nicholasgonzalezsc opened #62 "Proxy does not send UrlSearchParams or FormData in real request"
**Bug Description**
When making a proxied xhr request with `application/x-www-form-urlencoded;charset=utf-8` data, the request body is not passed along to the real request.

**Expected Behavior**
Proxy passes the form data to the real request.

[2018-04-23 18:03] nicholasgonzalezsc commented on #62
Hey @jameslnewell, have you had a chance to take a look at this? If you can point me in the right direction, I can help with the change

[2018-04-24 07:38] jameslnewell commented on #62
Sorry @nicholasgonzalezsc I'm on holidays. I'll take a look sometime next week. At a guess I'd say its because we're only passing the `responseText`, not the `response` [here](https://github.com/jameslnewell/xhr-mock/blob/master/packages/xhr-mock/src/proxy.browser.ts#L32). Feel free to submit a PR 😁

[2018-05-01 12:43] jameslnewell commented on #62
Checkout `v2.3.2`. It fixes the proxy to return the correct response body.

[2018-05-08 02:43] dobriai opened #63 "Unclear URL matching rules with param encoding"
I figured it out, after some debugging, but it should be either changed or documented better.

**EXAMPLE:**
I have a `myUrl` with some search params like this: `https://developer.api.acmecorp.com/content/v1/contentsSearch?filter[contents][libraryId]=urn:acme.content:library:a0d5b7b4-85cb-46f1-8df5-294f16993702&filter[contents][entityType]=content&filter[contents][searchSkipCache]=True&filter[conte

[2018-05-24 23:21] jameslnewell opened #64 "fix library types"
- change handler result from undefined to void
- add an index signature to `res.url().query`

[2018-05-25 01:05] dobriai commented on #63
OK, I will try to think of a reasonable fix. The thing is I don't know that much about URL encoding and all of its facets, so I'll have to educate myself a bit more.

Do you have any opinions on what the fix would look like? At first glance I can imagine:

1.  An aggressive approach: Modify mock.get() _et al_ to transform the URL appropriately. This would be swell, but might break something that I

[2018-05-25 05:02] jameslnewell commented on #63
Yeah I'd prefer to match URLs the same as passed to `xhr.open()` without having to encode them for `xhr-mock`. I'd consider having to encode the URL for `xhr-mock` (and not `xhr.open()`) a bug... hopefully that's not affecting too many people as it hasn't been reported before.

[2018-05-28 01:16] jameslnewell opened #65 "add once and delay utilities"

[2018-05-29 23:31] jameslnewell commented on #64
Implemented in `2.4.0`.

[2018-05-29 23:31] #64 closed

[2018-05-29 23:32] jameslnewell commented on #65
Implemented in `2.4.0`.

[2018-05-29 23:32] #65 closed

[2018-06-11 17:08] ryansukale opened #67 "Missing dependencies"
Hey, thanks for this nice library.

It seems like when I tried to mock the post request and then make the request with a body, i got the following errors one after the other in MockXMLHttpRequest.js file.

`Document is undefined`
`Blob is undefined`
`FormData is undefined`

In order to make my post request work I had to do the following in my test file at the top.

[code]

My test environment is n

[2018-06-12 01:31] jameslnewell commented on #67
Hi @ryansukale. Thanks for reporting the issue! Are you posting `Blob` and `FormData` or do you still get the errors with an ordinary post? Ordinary posts *should* work fine, but using `FormData` or one of the objects not in nodejs will definitely cause errors. Polyfilling them is a great idea and I'd be happy to move that into the library.

Could you please provide a minimal test case to reproduc

[2018-06-12 01:35] jameslnewell opened #68 "Improve documentation"
Proper API docs. A website instead of a gigantic readme?

[2018-06-12 18:10] ryansukale commented on #67
I am getting it with a regular post with a JSON body

[code]

I went through the code in the MockXMLHttpRequest file.
If you see the lines - Here [https://github.com/jameslnewell/xhr-mock/blob/master/packages/xhr-mock/src/MockXMLHttpRequest.ts#L645] and the other conditions that follow, it seems to expect the Document and Blob and FormData to be present globally as long as `body` is present in the

[2018-06-13 04:04] jameslnewell commented on #67
I was wondering why the tests aren't failing on nodejs... because `jest` sets up `jsdom` 🤦‍♂️

I'll work on a fix. I'm thinking I'll add additional checks for `Document`, `Blob` and `FormData` so that standard string bodies work, but require the user to roll their own polyfills for those objects if they're not using `jest` AND have requests that rely on any of those objects.

[2018-06-14 21:00] jameslnewell commented on #67
@ryansukale please try `xhr-mock@2.4.1-preview.1`

[2018-06-15 02:17] ryansukale commented on #67
Since its a testing framework, why not use those dependencies?
Otherwise, can you mention in the documentation that the mock xhr expect certain objects to be present. And if testing outside of the jest environement, perhaps you can recommend the libraries I used?
Hunting for libraries is a pain, and would hinder adoption of this library. It would be nice to point people in some direction.

I will

[2018-06-15 07:39] ryansukale commented on #67
I just tested the "xhr-mock": "2.4.1-preview.1" release and it works for my use case.
However, do consider adding the recommended libraries as part of the docs.

Thanks!

[2018-07-11 19:30] deini commented on #67
Had the same issue and `2.4.1-preview.1` fixes it. 💯

[2018-07-11 22:36] jameslnewell commented on #67
Thanks for the reminder :) I just released `2.4.1` but I won't close this issue yet as I want to document the usage with non-jsdom environments.

[2018-07-31 13:38] jonathansp opened #70 "What if I'm expecting an error?"
In my test case I'm expecting an HTTP error, so I mocked XHR response like this:

[code]

How to avoid the follow message to be printed?

[code]

https://github.com/jameslnewell/xhr-mock/blob/master/packages/xhr-mock/src/MockXMLHttpRequest.ts#L73

[2018-07-31 23:06] jameslnewell commented on #70
Hmmm... it shouldn't be showing that message if your mock is registered and your request is being matched e.g. https://codesandbox.io/s/n05m1wl1jl

Can you please check the mock is registered before the request is made and that the request URL matches the mock URL e.g. `dummy.host/schemas` not `http://dummy.host/schemas`

[2018-08-06 17:50] jonathansp commented on #70
The mock is registered before the request is done. I've just realized it only happens when I use `jest --watch`.

[2018-08-06 22:32] jameslnewell commented on #70
Are you calling `xhrmock.teardown()` after each test? If you already are, can you please provide minimal repository reproducing the problem. Thanks.

[2018-08-16 02:27] kanyewesternfront commented on #68
I have made a website for the API documentation for xhr-mock which is currently attached to my personal site.
website: http://elizabethjellison.com/xhr-mock/
repo: https://github.com/kanyewesternfront/xhr-mock

Is a pull request the right way to merge this?

[2018-08-16 02:30] jameslnewell commented on #68
That's so kind, thank you! Yeah a PR would be awesome, I'll look over it early next week some time.

[2018-08-27 07:03] #70 closed

[2018-09-28 07:42] webextensions commented on #54
To get the browserified version, in folder ```packages/xhr-mock```, execute:
```$ browserify --entry lib/index.js --standalone XHRMock --outfile xhr-mock.browserified.js```

[2018-09-30 16:42] IanDavey opened #72 "Unimplemented error thrown from .responseXML precludes workarounds"
Suppose we have the following in `onreadystatechange`:
[code]
As `responseXML` is not implemented, xhr-mock outputs the message `This feature hasn't been implmented yet. Please submit an Issue or Pull Request on Github.`

However, in the snippet above we have a workaround, as long as we're not expecting an XML `Document` in our tests.  Rather than just returning `undefined` and making the code und

[2018-10-23 18:24] mad-gooze opened #73 "xhr.responseUrl is not passed for proxied requests"
Looks like this can be fixed by adding setter and getter in MockResponse and calling setter in proxy

I can make a PR if it's acceptable.

[2018-10-27 05:58] tmc opened #74 "clean jest mock integration?"
I'm not seeing a super ergonomic way for this to work with jest.fn() mock calls. Could you provide an example?

[2018-10-29 10:47] jameslnewell commented on #73
True! I don't think we support it at all do we?

Yeah I'll merge a `MockResponse.url` property that sets `xhr.responseUrl`

[2018-10-29 10:48] jameslnewell commented on #74
Sorry I'm not sure I understand. Can you describe how you'd expect to use `jest.fn()`?

[2018-10-29 10:57] jameslnewell commented on #72
Makes sense. Looks easy to [implement](https://xhr.spec.whatwg.org/#the-responsexml-attribute). Want to have a crack at it?

[2018-11-21 18:13] grug opened #75 "Option for passthrough on certain requests"
I couldn't see any other issues asking/discussing this, so I'll give it a go:

Does this library have the ability to only mock certain requests and do a passthrough for all non-matching requests? I guess the use case for this is self-explanatory: I have an application I want to mock certain requests for, but not others.

Thanks!

[2018-11-22 16:12] tomasfabry opened #76 "Mocking XMLHttpRequest on Node.js doesn't work"
Hello,

thanks for creating this awesome package. I like it very much but I am not able to use it on Node.js.

I've tried to use it but it looks like the original implementation of `XMLHttpRequest` is not replaced with the mocked one.

I've made a little investigation about this problem and I've figured out that the problem is in `setup` function in `XHRMock` class:

[code]
On Node.js there is no

[2018-12-18 08:34] #74 closed

[2018-12-18 08:40] jameslnewell commented on #76
Thanks @tomasfabry! It's likely related to this issue https://github.com/jameslnewell/xhr-mock/issues/67 - `xhr-mock` is currently assuming a `jsdom` environment (we use `jest` as the test runner).

You could try changing `xhr-mock` to use `global/window` from [`global`](https://www.npmjs.com/package/global) or setup `jsdom` as per the linked issue.

Would you be able to contribute some docs for u

[2018-12-18 08:42] jameslnewell commented on #75
Yep! That's what the [`proxy`](https://github.com/jameslnewell/xhr-mock/tree/master/packages/xhr-mock#proxying-requests) is for. Let me know if that doesn't suffice.

[2018-12-18 08:42] #75 closed

[2018-12-18 10:02] grug commented on #75
Yep that works perfect!

[2018-12-19 10:26] grug opened #77 "Custom response based on headers"
I know there have been similar issues opened in here but I think this is slightly different (feel free to correct me here)

Is there a way to have multiple mocks for the same endpoint, but the responses are different based on headers

i.e.

a mock of `GET /foo` that responds with `{hello: 'world'}`

AND

a mock of `GET /foo` with an auth token in the request to respond with `{something: 'else'}`

[2019-01-04 11:51] jameslnewell commented on #77
Yeah!

[code]

[2019-01-04 11:51] #77 closed

[2019-01-04 13:11] grug commented on #77
Oh, perfect!

[2019-01-04 13:11] grug commented on #77
I'll give that a go and let you know :)

[2019-02-01 16:32] tom-drake opened #78 "Proxy using fetch under the hood?"
I noticed that if a request is proxied it is done as a fetch rather than an XHR. Would it make sense just to use the RealXMLHttpRequest rather than 'http' and 'https'?

[2019-02-05 16:31] morsh opened #79 "calling overrideMimeType throws an error"
Don't have
[code]

Is anything being done with this?

[2019-02-05 17:00] amb26 opened #80 "Utilities are not bundled into standalone browser build"
The once and delay utilities added in #65 are super-helpful. Unfortunately they are not included in the standalone browser build produced in dist/xhr-mock.js , as seen, for example, at https://unpkg.com/xhr-mock@2.4.1/dist/xhr-mock.js as referenced in the docs section "Without a bundler".

[2019-02-19 11:16] jameslnewell commented on #80
Related issue: https://github.com/jameslnewell/xhr-mock/issues/54

I'm open to ideas! Potentially we could export a "utils" bundle as its own UMD script containing `proxy`, `once` and `delay`?

WDYT? Would you be interested in contributing this enhancement?

[2019-02-19 11:23] jameslnewell commented on #79
No efforts that I know of at the moment. Would you consider contributing it?

https://xhr.spec.whatwg.org/#the-overridemimetype()-method

[2019-02-19 21:38] jameslnewell commented on #78
Yep sounds reasonable. From memory, because we've replaced the global XMLHttpRequest, we don't have access to the real XMLHttpRequest within a handler so using `fetch` was a hack to send real requests instead of mock ones.

In v3 the handler will receive a context object that we can put the real XMLHttpRequest on.

[2019-02-20 00:57] tom-drake commented on #78
If this is going into a future version then great. I worked around this by creating my own proxy that makes use of XHRMock.RealXMLHttpRequest which seems to give me access to the real one before being overridden.

[2019-02-20 09:30] morsh commented on #79
Sorry, I ended up using another solution: https://github.com/berniegp/mock-xmlhttprequest

[2019-04-05 06:40] lk77 commented on #62
Hello,
i still have this issue on v2.4.1,
form data is missing in request.

if i do :
[code]
There is no form data, and if i comment those lines, there is form data.

thanks.

[2019-04-05 09:15] jameslnewell commented on #62
Thanks @lk77. Could you please provide a code sample using a service like [CodeSandbox](https://codesandbox.io/) where I can reproduce the issue?

[2019-04-05 18:42] radarfox opened #81 "Support for the file protocol"
Hello,

awesome project, helped a lot. Thanks! Only problem I found is that mocking URLs starting with `file://` isn't working properly.

This doesn't work:

[code]

It outputs this error:

[code]

So my current hotfix is this:

[code]

[2019-04-09 06:51] lk77 commented on #62
Hello,
i will try to do so

[2019-04-29 13:32] bopfer opened #82 "Unclear how to test upload progress"
The [example in the docs](https://github.com/jameslnewell/xhr-mock/tree/master/packages/xhr-mock#upload-progress) works for emitting a single progress event at progress 0.  But, I can't find any way to emit and test multiple events up to 100% done.

Is this possible? Anyone have examples?

[2019-06-11 13:17] jameslnewell commented on #82
The example should print both `0` and `100`%?

I had planned for multiple `progress` events being dispatched between `0` and `100` but I haven't got around to implementing it yet sorry. PRs are welcome!

[2019-07-18 11:58] piotrzdziarski opened #84 "xhr.readyState = 2 - xhr.status = 0"
Normally in browser when headers are received status is received too, but in this package status is 0:

[code]

I think it should already return passed status.

[2019-07-25 20:22] benjspriggs opened #85 "Examples for mocks set up using regular expressions"
The documentation specifies that you can provide a string or a `RegExp` to set up a mock, but there aren't any easily accessible examples.

Would it be possible to include 1 or 2 examples in the README or wiki for easier access?

Thanks a bunch in advance for this wonderful library - it's been super helpful for what I've been needing it for!

[2019-08-19 23:41] jameslnewell commented on #85
Hi @benjspriggs!

Sorry, I haven't got round to updating the docs yet (feel free to submit a PR!), but if you were wondering how to use a RegExp, this example should get you started:

[code]

Thanks for your kind words!

[2019-09-09 11:59] a-x- opened #88 "Add xhrMock.all method for all of get, post, put, patch, delete"

[2019-09-09 12:13] a-x- opened #89 "Add url masks please"
As I understand xhr-mock doesn't support express.js-like masks o_O

e.g. /users/:id

[2019-09-09 12:25] a-x- commented on #89
you can use [path-to-regexp](https://www.npmjs.com/package/path-to-regexp)

[2019-09-27 22:37] gesa opened #90 "New release"
Since #86 is merged in, do you suppose you could publish a release?
(i'd just `npm i` the commit but i'll be honest i can't figure out how to do that in a monorepo)

[2019-09-30 15:57] loun4 opened #91 "sequence is not function"
According to the documentation

[code]
The following error is thrown `TypeError: (0 , _xhrMock.sequence) is not a function`
Is there another way to use sequential calls?

[2019-10-02 09:46] loun4 commented on #91
As `sequence` is not released yet (#90), i resolved my issue using `once`

[code]

[2019-10-02 09:46] #91 closed

[2019-10-04 18:22] mariuslundgard commented on #84
I'm having the same issue!

[2019-11-06 11:03] jameslnewell commented on #90
Thanks for the nudge @gesa. Apologies for the delay, I've been flat out between life and work! Try `xhr-mock@2.5.0`.

[2019-11-06 11:03] #90 closed

[2019-11-06 11:07] jameslnewell commented on #91
Apologies! Try `xhr-mock@2.5.0`.

[2019-11-06 11:11] jameslnewell commented on #89
Its not released yet but this is supported in `^3`

https://github.com/jameslnewell/xhr-mock/blob/12ab29ba24e41dc24bbe9ac54861a9bc8e177376/packages/router/src/createMiddleware.test.ts#L81

[2019-11-06 11:11] #89 closed

[2019-11-06 11:24] jameslnewell commented on #88
Thanks for the idea! Sounds like a reasonable feature.

In the mean time you can achieve a similar outcome using the `.use()` method.

e.g. https://codesandbox.io/s/xhr-mock-all-h8ry7

[2019-11-06 11:25] #85 closed

[2019-11-06 13:21] sidoruk-sv commented on #90
@jameslnewell `2.5.0` was already in the registry (it was published 4 months ago according to https://www.npmjs.com/package/xhr-mock)
Can you bump to `2.5.1`?

[2019-11-06 13:48] sidoruk-sv opened #98 "Latest release doesn't published"
For now, the latest release is 2.5.0: https://github.com/jameslnewell/xhr-mock/releases

But in npm registry 2.5.0 version have been published 4 months ago: https://www.npmjs.com/package/xhr-mock?activeTab=versions

So seems like the latest code changes (especially #92 PR) haven't been published.

[2019-11-06 14:08] rudnitskih opened #99 "Release latest changes to npm"
v2.5.0 was released 4 months ago. Please bump version to 2.5.1.
![image](https://user-images.githubusercontent.com/8848858/68304978-88a4cd00-00af-11ea-8d39-fb20705ee772.png)

Thank you!!!

[2019-11-06 14:52] rudnitskih commented on #99
Duplicate of #98

[2019-11-06 14:52] #99 closed

[2019-11-08 09:06] #98 closed

[2019-11-21 04:39] ssk910 opened #101 "Test URL with Query string"
## Occurred an Error

**HTTP method :** `GET`
**URL :** `http://www.example.com?id=user1234&pw=!Q%40W%23E%24R&name=sghwang`
**Error msg :** `xhr-mock: No handler returned a response for the request.`

[code]

-----------------

## Passed without any errors

If I test with an URL which **has a slash before question mark**, It **passed** without any errors.

**HTTP method :** `GET`
**URL :** `http:/

[2019-12-16 10:02] SunnyWind opened #102 "Is there a method similar with fetchMock.flush?"
The method description is as follows:

Returns a Promise that resolves once all fetches handled by fetch-mock have resolved
Useful for testing code that uses fetch but doesn’t return a promise.
If waitForBody is true, the promise will wait for all body parsing methods (res.json(), res.text(), etc.) to resolve too.

[2019-12-16 21:37] jameslnewell commented on #102
There isn't a similar method at the moment but it sounds like a feature that could be implemented.

Could you please provide me with a code example of how you'd use it? Is this for testing a component render?

[2019-12-18 02:44] SunnyWind commented on #102
I'm writing UT for React components which mostly do an HTTP request after mounted. I need to check the state of components after the request was finished. Without the `flush` method, I have to wait a few milliseconds to proceed with the check.

[2019-12-18 03:07] jameslnewell commented on #102
Thanks for explaining it in more detail! Could you please you provide a minimal code example we can use as a test?

[2019-12-18 08:08] SunnyWind commented on #102
[code]

I'm not sure the code is runnable...

[2019-12-18 08:14] SunnyWind commented on #102
BTW, Is there a hacky and easy way to meet my requirements? I tried to modify the XMLHttpRequest and could not find a way to wrap the process into a Promise object.

[2020-03-07 08:12] prantlf commented on #80
The same affects the `proxy`. When `xhr-mock` is used by including the browser script on a web page, its functionality is seriously limited.

Yes, either bundling the utilities in `xhr-mock.js` and exposing as properties of `XHRMock`, or adding `xhr-mock-utils.js` with them will work well.

The file `https://unpkg.com/browse/xhr-mock@2.5.1/lib/proxy.browser.js` is not meant to be loaded on a web p

[2020-03-07 09:24] prantlf commented on #102
An API "wait for all" in `XHRMock` would be nice, but it will not be as simple as in your example, if it should work in more complicated tests. Mocks may get registered among making requests. A mocked request can be executed multiple times. Maybe a scope object would help to group the mocked calls to wait for all?

As long as there is no API for this, you can use your own promises to wait just for

[2020-03-11 10:17] jameslnewell commented on #102
@SunnyWind I don't believe there's an easy way to implement the functionality in the current version (`v2.5.1`) though it will be easy to implement in the next major version (`v3`) which is (very slowly) under development.

[2020-03-11 10:27] jameslnewell commented on #102
I was thinking the `.flush()`* method would resolve when all incomplete requests are completed (that includes any requests that are initiated after `.flush()` is called while waiting for the original requests).

@prantlf What would the API for a scope object look like? Can you provide a theoretical example? Thanks for the interim work around!

*I'm keen to hear people's opinion on the method name!

[2020-03-11 10:32] jameslnewell commented on #80
This issue will be resolved in `v3` which is (very slowly) under development. The utilities and `proxy` will be exposed as their own packages and UMD bundles.

[2020-05-04 17:26] gflohr opened #104 "Responsetype "arraybuffer" not implemented correctly"
In my (jest) test I mock XHR like this:

[code]

I use `XMLHTTPRequest` in my code in like this:

[code]

In the browser, the response data is in `xhr.response` (not `xhr.responseType`!)) as an `ArrayBuffer`, and accessing `xhr.responseText` throws an exception.  In the mock, the data is a string in `xhr.responseText` but `xhr.response` is `null`.

This looks like a bug to me, see https://develope

[2020-05-06 08:37] gflohr commented on #101
IMHO, this bug is just one aspect of a more general problem. The real XHR implementation normalizes all URL strings before the request is sent. Converting an empty path into a single slash is just one such normalization.

Likewise, default ports are stripped off, and the hostname part is normalized. For example, http://0177.0.0.1, http://0x7f.0.0.1, or http://0000177.0x0.0000.0x1 are different fun

[2020-05-06 13:29] K0d1Lu commented on #72
I'm facing the same problem, could assign me this issue ?

[2020-06-24 00:15] franzcatch opened #106 "Handler inside createMockFunction never gets triggered."
Sample code:

[code]

Note:  I am using this with Protractor on a web app built on Angular 1.5.11.

Note the `console.log("code never gets here")` never gets executed.  I also put `console.log` inside `createMockFunction` and it never gets called.  I did put one into `MockXMLHttpRequest.addHandler` and it does get called.  So for some reason, the handler is not triggering the mock function.

Am I

[2020-07-02 19:38] franzcatch commented on #106
I was thinking this would match ALL traffic coming from the browser would get matched up with the mock created.  However, I could be mistaken, but looking at the underlying code closer - it seems that xhr-mock is only meant to intercept calls made from a `new XMLHttpRequest();`.

It seems that all of the needed pieces to facilitate intercepting all browser traffic with a mock are here in this logi

[2020-07-02 19:38] #106 closed

[2020-08-19 05:57] csimi commented on #79
As far as I can see, xhr-mock doesn't do any parsing based on the mime type, so implementing this as a noop wouldn't cause any issues. Either way overrideMimeType is generally used to opt out of XML parsing which doesn't happen in this library.

[2020-10-07 16:25] radiantshaw opened #108 "Simulating a timeout causes Jest to throw a ECONNREFUSED error but the tests pass"
I'm simulating a timeout using:
[code]
The tests pass, but Jest throws:
[code]

[2020-10-10 07:38] radiantshaw commented on #108
I was able to fix the issue by resetting the mocks on every test. I suspect that it is because of `async` examples clashing with each other. Although, not entirely sure what's happening; it's clear that it's not the fault of this package. So closing this issue.

[2020-10-10 07:38] #108 closed

[2020-10-22 16:58] bpinto commented on #73
@mad-gooze did you end up working on this code?

[2020-10-22 17:14] mad-gooze commented on #73
nope

[2020-11-09 04:32] imcuttle opened #110 "feat: support verbose log in dev mode?"
Now xhr-mock is silent when mocking，It's confused when debug

[2020-11-09 04:34] imcuttle opened #111 "Support params match?"
support [path-to-regexp](https://www.npmjs.com/package/path-to-regexp) params?
[code]

[2020-11-11 21:21] mkay581 commented on #110
Agree. @imcuttle did you ever find a workaround? Hard to figure out why a component isn't rendering.

[2021-01-05 10:36] #72 closed

[2021-06-26 11:31] radiantshaw opened #112 "Jest passes but xhr-mock logs the Jest expectation failure to console.error"
I have the following code:
[code]

As expected, this should make Jest fail, but instead, Jest passes, and the following error is logged to `console.error`:
[code]

[2021-07-18 05:42] radiantshaw opened #113 "Feature request for sending/setting cookies automatically when present."
`XMLHttpRequest` sends cookies if they are present in a `Cookie` request header, and also sets them if the `Set-Cookie` response header is present. I wanted to test this scenario in our app but can't because the implementation is not present (I checked the code but apologies if I might have misunderstood).

Any plans on adding this feature? Or if it's already present, then how do I get it to work?

[2022-03-08 22:39] DaveStein opened #114 "Is there a way to overwrite a request again?"
If I have a test suite where my `beforeEach` mocks a default response, how can I make it such that one test can overwrite the current mock?

I tried this but it did not overwrite:

[code]

[2022-09-23 15:26] public opened #116 "Request headers are not reset between .open() calls"
In a real XHR, if you do something like

[code]

The request will not be sent with a `foo` header because the second `open()` call resets them.

It seems like [the code](https://github.com/jameslnewell/xhr-mock/blob/master/packages/xhr-mock/src/MockXMLHttpRequest.ts#L302) in `MockXMLHttpRequest` is intending to do this but the implementation of [`req.headers()`](https://github.com/jameslnewell/xhr